<% if can? :admin, SolidusSubscriptions::Subscription.new(user: @user) %>
  <li<%== ' class="active"' if current == :subscriptions %>>
    <%= link_to t("spree.admin.user.subscriptions"), spree.admin_user_subscriptions_path(@user) %>
  </li>
<% end %>
