<div class="field checkbox" data-hook="subscribable">
  <%= f.label :subscribable do %>
    <%= f.check_box :subscribable %>
    <%= Spree::Variant.human_attribute_name(:subscribable) %>
  <% end %>
</div>
