---
http_interactions:
- request:
    method: post
    uri: https://api.churnbuster.io/v1/successful_payments
    body:
      encoding: UTF-8
      string: '{"payment":{"source":"in_house","source_id":"R863897282","amount_in_cents":0,"currency":"USD"},"customer":{"source":"in_house","source_id":1,"email":"email2@example.com","properties":{"first_name":"John","last_name":"John"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 01 Oct 2020 13:46:09 GMT
- request:
    method: post
    uri: https://api.churnbuster.io/v1/failed_payments
    body:
      encoding: UTF-8
      string: '{"payment":{"source":"in_house","source_id":"R276044153","amount_in_cents":0,"currency":"USD"},"customer":{"source":"in_house","source_id":1,"email":"email2@example.com","properties":{"first_name":"John","last_name":"John"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 01 Oct 2020 14:24:32 GMT
- request:
    method: post
    uri: https://api.churnbuster.io/v1/cancellations
    body:
      encoding: UTF-8
      string: '{"subscription":{"source":"in_house","source_id":1},"customer":{"source":"in_house","source_id":1,"email":"email5@example.com","properties":{"first_name":"John","last_name":"Von
        Doe"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 01 Oct 2020 14:24:33 GMT
- request:
    method: post
    uri: https://api.churnbuster.io/v1/payment_methods
    body:
      encoding: UTF-8
      string: '{"payment_method":{"source":"in_house","source_id":"1-1","type":"card","properties":{}},"customer":{"source":"in_house","source_id":1,"email":"email6@example.com","properties":{"first_name":"John","last_name":"Von
        Doe"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Oct 2020 10:55:31 GMT
recorded_with: VCR 6.0.0
